# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/

# Environment variables
.env
.env.*

# VSCode and IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Others
*.sqlite3
*.db
